* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

h1 {
    color: #255799;
    font-family: Verdana;
    font-size: 6rem;
    text-align: center;
}

h2 {
    color: #0083b3;
    font-family: Verdana;
    font-size: 2rem;
    text-align: center;
}

p {
    color: #c6beb5;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
}

#top-row {
    background-color: #fecc07;
    height: 12rem;
    padding-top: 1rem;
}

#top-row-decorator {
    background-color: #f0ab00;
    height: 50%;
    width: 90%;
}

#mid-row {
    padding-top: 1rem;
    background-color: #255799;
    height: 12rem;
}

#bottom-row {
    padding-top: 1rem;
    background-color: #002244;
    height: 12rem;
}
